[2018-03-10 02:59] vaibhavchellani opened #1 "Implementing GUI for making hydra vocab and visualising it"
from [HTTP-APsI/hydrus#158](https://github.com/HTTP-APIs/hydrus/issues/158)

There are two things that can be done here -

Create a GUI to help users set up vocabulary. Users use the GUI to describe the API structure and the GUI then spits out a hydra vocabulary file which can then be used to setup hydrus.

The other thing that can be done is use the GUI to load already created vocabularies and vi

[2018-03-10 11:21] Mec-iS commented on #1
I found it interesting especially if you can set in place a good parser. The way to go is to write a proposal that includes this idea.

[2018-03-10 14:46] suryatejreddy commented on #1
@Mec-iS adding to the discussion in HTTP-APIs/hydrus#149, the `hydra -> OpenAPI` parser can be used to visualize the `API doc` taking inspiration from SwaggerHub. Because `OpenAPI` is very basic in specification and major part of it is `/path` objects that define operations (get,post,put,delete).

[2018-03-17 11:39] Mec-iS opened #3 "Considering implementing Fragments on the client"
https://github.com/HTTP-APIs/hydrus/issues/175

(Fragments are not supported by the official Hydra spec)

NOTE: resolving this issue would be off-specs but actually useful for inner working of the client

[2018-03-18 22:26] suryatejreddy opened #4 "Installation using pip install gives FileNotFoundError"
The following error is encountered while installing with `pip install .`.
![image](https://user-images.githubusercontent.com/21313201/37571908-1ba7c822-2b29-11e8-800a-da82fe2789af.png)

This is because setup.py expects a directory structure as `lib/hydra` whereas the structure in the current repository is just `hydra`.
https://github.com/HTTP-APIs/python-hydra-agent/blob/925f6277649eb16087c4c95ebe

[2018-03-19 00:26] Mec-iS commented on #4
Thanks. Try now on the develop branch.

[2018-03-19 08:26] ashwani99 opened #6 "Features for python hydra client"
Currently the Hydra client lacks the following:
- support for classes like `hydra:Error`, `hydra:PartialCollectionView`, hydra:Link` etc
- linked data fragments
- extensive documentation for classes and functions (docstrings can be used)
- support for python 3 and type annotations

[2018-03-19 08:32] ashwani99 commented on #1
We can use RDFlib's inbuilt parser to parse through the APIDocumentation. It supports several formats like xml, n3, ntriples, trix, json-ld etc

[2018-03-19 09:51] suryatejreddy commented on #4
@Mec-iS ,it works now. Should I close #5 ?

[2018-03-19 09:54] Mec-iS commented on #4
https://github.com/HTTP-APIs/python-hydra-agent/commit/57da1389cebac5c6eea60a2c69b0288e6fe697b7

[2018-03-19 09:54] #4 closed

[2018-03-19 10:06] Mec-iS commented on #6
Absolutely. The client has to be updated with most recent specs and use cases as for [Heracles](https://github.com/HydraCG/Heracles.ts)

As in #3

Absolutely yes.

Absolutely yes.

[2018-03-19 10:07] Mec-iS commented on #1
Yea, we can use a standard JSON-LD parser. We don't want to reinvent the wheel.

[2018-03-19 10:18] ashwani99 commented on #6
@Mec-iS Thanks. I am working on a draft proposal for this. I am planning to club it with the CLI and Falcon port. Can you please help me if this approach is fine or is it too much to work?

[2018-03-19 10:21] suryatejreddy commented on #1
Okay makes sense. I'll integrate this into my proposal. thanks @ashwani99 and @Mec-iS .

[2018-03-19 10:23] Mec-iS commented on #6
Share the draft and you will receive feedback in your google doc.

[2018-03-20 14:48] ashwani99 commented on #3
@Mec-iS Can you give me some points on what features of linked data fragments needs to be added to the client. There is already an implementation of Triple Pattern Fragments here https://github.com/HTTP-APIs/python-hydra-agent/blob/master/hydra/tpf.py
Do we need to support other types of linked data fragments like data dump(for local queries), subject page as TPF has the best balance between effic

[2018-03-21 10:00] Mec-iS commented on #3
I don't know yet if the client should be allowed to query by fragment like : `http://localhost/api/someClass/<id>#someProperty` and translate to a server-supported query like `http://localhost/api/someClass/<id>?prop=someProperty`. But it can be a possibility.

For now we just implement the basic functionalities: the client needs to subset the dataset, so it defines a procedure to query the server

[2018-03-21 16:15] ashwani99 commented on #3
@Mec-iS Thanks for the reply. So for querying specific fragments instead of translating the query and sending it to server, we can just load the data along with vocab on the client machine and query from it. For example, we can write functions like `find_properties()`, `serialize()` for `Class` class.

Now loading all the dataset into memory(current implementation loads each graph node lazily) for

[2018-03-21 16:29] Mec-iS commented on #3
Take `hydra-py` as a reference but also consider that the HYDRA Draft evolved considerably since then. `hydra-py` is great because it gives the basics of how RDF works.

Don't get confused between Fragments and Triple Pattern Fragments (TPF). This issue is only about Fragments (the possibility of sub-setting an object but addressing one of its properties), we want to find out if it is useful and h

[2018-03-26 04:25] py-ranoid commented on #3
Would this involve adding an IRI Template to the API (Class) Documentation ?

[2018-04-26 10:43] Mec-iS opened #8 "Implementing Redis as querying layer"
Anything discussed in https://github.com/HTTP-APIs/hydrus/issues/110 applies.

[2018-04-30 12:16] Mec-iS opened #9 "Documentation for the datastore-client"
Fork https://github.com/HTTP-APIs/hydra-ecosystem-wiki and add a `PY-HYDRA-AGENT.md` file where to summarize the discussion we had during the Community Bonding phase. To be update as development goes on.

In the beginning this may include some of the content that you plan to write in the blog post.

[2018-04-30 13:35] Mec-iS commented on #9
NOTE: adding to what we discussed, it is possible to explore also other options.
For example, as the graph representation may or may not change at every request issued by the agent in the case of changes in the `ApiDoc` or in the objects, we may think also about some event-driven ([event sourcing](https://stackoverflow.com/questions/28667367/best-event-sourcing-db-strategy)) kind of storing soluti

[2018-05-17 17:26] chrizandr opened #11 "Representation of API graph on Redis Datastore."
When a client wants to use an API, it stores that APIs graph in Redis for better querying and optimization.

We need to figure out what representation of the API Graph is best for querying as well as efficient for implementation.

Add comments about possible representations. Keep in mind that the end goal here is to be able to match the API representations to request objects without having to expl

[2018-05-17 17:42] Mec-iS commented on #11
Just a note: the graph is built from the ApiDoc but it needs also to be updated according to subsequent data reads from the server. For example, if a `Book` object with id 1 holds a property `hasAuthor` that can be referenced to an `Author` object with id 3, the graph should store a node book-1 with a named edge to author-3. This way the client holds the structure/abstraction of the data (technica

[2018-05-17 17:49] chrizandr commented on #11
Agreed. The datastore basically acts like a cache for the API server. It does local computation to find the correct mapping for the requested objects. It needs to be dynamic enough to change as the server data changes.

[2018-05-18 10:09] xadahiya commented on #11
@sandeepsajan0 You should start with a basic setup first. Within the next 2-3 days, you should finish at least these 3.
- We need a client that can be connected to one or multiple servers (this can be done later, for now, you can focus on connecting to a single server)
- It should be able to fetch the APIdoc from the server
- Redis should be up and running ( This should preferably be done in a  Do

[2018-05-18 10:14] xadahiya opened #12 "Create a Docker/Vagrant env for the agent"
As the Hydra Agent will use Redis, we need a VM environment with everything set up. ( I personally vote for Docker. It has a lot of configuration options. Also, it's quite lightweight.)

[2018-05-19 11:18] sandeepsajan0 commented on #12
@xadahiya  For now, I am using Redis locally(with my local env) but on later I will set the Docker environment.

[2018-05-19 11:33] sandeepsajan0 commented on #11
@xadahiya Some of the work is done by me which you have mentioned above. I am able to fetch the APIdoc from the server and I have a set up of Redis locally on my pc(later I will set an environment using Docker).
And I have struct a graph which is using nodes and edges to store data as triples. I have got some idea from [here](https://docs.google.com/document/d/1FMhqovdylJ0kbtDGuuQDfISXgmm2c6vDDB5I

[2018-05-19 12:03] xadahiya commented on #12
Okay, no problem. In that case make sure you provide a configuration file for us to set up the redis datastore for testing.

[2018-05-23 21:36] Mec-iS opened #14 "Write a document analyzing Heracles.ts"
Write a short document (3-5 pages) in which is analyzed and deconstructed the actual code for Heracles.ts

Heracles.ts is the reference implementation of an Hydra client created by Hydra's designers. The document shall contain:
* What's the client's part in the Hydra idea
* Components that made up the client
* Design patterns that are used by the client
* ...

Write the document into a file in htt

[2018-05-28 01:58] xadahiya opened #15 "Write a document analyzing hydra-py.py"
Write a short document (3-4 pages) analyzing the following things in hydra-py
- The graph structure used to store the API documentation
- How required endpoints and operations are discovered
- How lazy loading of _graph works

Write the document into a file in https://github.com/HTTP-APIs/hydra-ecosystem-wiki
This will help you design a better structure for python-hydra-agent.

Also, see #14 **you

[2018-05-28 12:11] xadahiya opened #16 "Update requirements.txt"
Update the requirements.txt to include `redis`, `redisgraph` and other dependencies.

[2018-05-28 12:25] xadahiya opened #17 "Move the code for python-hydra-agent to a separate directory."
You should move the code you're writing for python-hydra-agent to a new directory away from hydra-py code unless you're using hydra-py in some way which I think you're not.
Create a new directory and move all your code there.

[2018-06-01 07:20] sandeepsajan0 commented on #17
Done! now, it is moved to hydra_redis directory.

[2018-06-02 08:36] xadahiya opened #18 "Graph structure for Redis"
Discussion related to the Graph structure we need for storing the parsed data as well as the API structure for python-hydra-agent.

[2018-06-02 08:41] xadahiya commented on #18
**THIS IS FROM SANDEEP'S DOC**
![selection_024](https://user-images.githubusercontent.com/9114274/40872607-924712f0-666e-11e8-8acc-c2de1d1c94b5.png)
**Graph**:
First we have node of EntryPoint from where we can access any data stored in graph. Then graph have two types of nodes collection endpoint node and classes endpoint node. Assume that collection endpoint contains DroneCollection and CommandC

[2018-06-02 08:43] xadahiya commented on #18
**A basic structure I proposed**

![img_20180602_135101](https://user-images.githubusercontent.com/9114274/40872625-0cf202b2-666f-11e8-9e51-fdc717d4642b.jpg)

**Note: We're using the drone API as an example.**

[2018-06-02 08:44] xadahiya commented on #18
@Mec-iS @chrizandr @Shekharrajak  Please provide your opinions

[2018-06-02 08:51] xadahiya commented on #17
You should make it `hydra-redis` instead of `hydra_redis`

[2018-06-02 09:06] sandeepsajan0 commented on #18
@xadahiya, I think the above one(mine) graph structure works similar to yours but in mine graph structure I have some more functionality like connected edges like Drone1 to entrypoint which will help in fast and easy querying. We can access any Drone or Command Object directly and In every node there(in code) is a property part which has all the property for the node as an object and if any proper

[2018-06-03 10:01] sandeepsajan0 commented on #18
Yeah @xadahiya, Now I got your point. I have updated the graph here https://docs.google.com/document/d/1iQ-0UwRyrePVrmW9z7AuUyK6TiilMIimlhn9msRH3eI/edit?usp=sharing.

[2018-06-04 05:13] chrizandr commented on #18
@sandeepsajan0 The edge names can be the same as the name of the property, you don't need to create new names for connections. Also, if they have the same `MaxSpeed` you don't need an edge between the two drones. Just one node for an instance of `MaxSpeed` and two incoming edges to that node, from the two different drones. The name of the edge will be the property of the two drones that references

[2018-06-07 04:09] xadahiya commented on #18
This is related to the review I just did https://github.com/HTTP-APIs/python-hydra-agent/pull/13#pullrequestreview-126615225 .
@sandeepsajan0 You're storing some redundant information. Here's a detailed graph structure for you to work on.
![img_20180607_093323](https://user-images.githubusercontent.com/9114274/41077769-3993c998-6a36-11e8-84d7-878ebf2f69a5.jpg)
![img_20180607_093345](https://user-i

[2018-06-09 09:18] Mec-iS commented on #12
Use `docker-compose` to set up two different containers

[2018-06-15 12:36] xadahiya opened #20 "Implement a querying mechanism for loaded Graph"
Write a querying mechanism to extract information from the graph loaded in memory. Redis uses `openCypher` by default. I'm not sure if `redis-py` can be used for querying purposes, explore different options and write their pros and cons below.
Some helpful resources -
- https://oss.redislabs.com/redisgraph/design/#graph-representation-hexastore
- http://pythonik.blogspot.com/2010/11/redis-patterns

[2018-06-15 12:42] xadahiya opened #21 "Implement a middleware layer for converting simple queries to openCypher"
Everyone using the agent should not need to know Graph querying languages (openCypher in this case). Users should be able to use simple and easy enough to understand query format and those queries need to be internally converted to `openCypher`.
Discuss the query structure or any other issues regarding this here.

[2018-06-15 12:48] xadahiya opened #22 "Lazyload the graph in redis memory"
In the current implementation, all of the API including every collection endpoint members are loaded into memory. This is very time consuming and inefficient.
What you should be doing instead is, extract the API structure from the APIDoc and load only that in the memory.
When the user queries something for the first time then the agent should fetch the required data from the server and update its

[2018-06-15 12:50] #17 closed

[2018-06-16 09:31] sandeepsajan0 commented on #20
I think we can access the redisgraph's all functionality with its any client https://oss.redislabs.com/redisgraph/#using-redis-graph
I will take some help with these commands https://oss.redislabs.com/redisgraph/commands/#query-language.

[2018-06-16 10:38] sandeepsajan0 commented on #20
Can you elaborate for me a bit with an example that how I should proceed for querying mechanism?
And also suggests some things which should be mind for querying.

[2018-06-16 17:01] xadahiya commented on #20
Consider the drone API example. User can query for all drones with `max_speed > 100` or drones with `battery > 30%`.
The user should also be able to query all API endpoints, class endpoints, collection endpoints etc.
He should also be able to view all supported properties for each endpoint object for example in case of drone demo he should be able to query and view all `supportedProperties` and `s

[2018-06-18 11:17] sandeepsajan0 commented on #20
Querying format:

For querying endpoints- `url:endpoint`, `url:entrypoint`, `url:endpoint:id` and etc like these(here id is just refer to the member of any collection endpoint).

For querying operation or property- `url:endpoint:operation`, `url:endpoint:property`, `url:endpoint:propValue`, and same for id(members) and etc like these( operation = supportedOperation and property = supportedProperty

[2018-06-23 13:51] sandeepsajan0 opened #24 "Add new data in Redis memory"
Every time when I am trying to add some more data to Redis memory or update the Redis graph, I get the unwanted result like double of previous data means `previous_data + (previous_data + new_data)` but I want to add only new data.

Some different solutions suggested by @Mec-iS

 * Build a secondary index using a Redis Set

 *  use hashing on objects, and store only the first x characters

 * Some

[2018-06-25 16:55] sandeepsajan0 opened #25 "Design and implement the graph structure for the data store."

[2018-06-25 16:59] sandeepsajan0 commented on #25
Sorry, It is opened by mistake.

[2018-06-25 16:59] #25 closed

[2018-06-25 17:00] sandeepsajan0 opened #26 "Implement a querying mechanism for loaded Graph"

[2018-06-25 17:03] sandeepsajan0 commented on #26
sorry, @xadahiya, can you please add or tell me how to add the issues to the project

[2018-06-25 17:03] #26 closed

[2018-06-25 17:05] sandeepsajan0 commented on #26
okay, now It has done.

[2018-06-25 17:28] sandeepsajan0 opened #27 "Design faceted indexes alongside with the usage of the GraphLib"
We have to design faceted indexes for better search in Redis memory.

Here we'll indexing for every node and its properties based on an object.

DroneCollection indexing can be like:
` fs:DroneCollection    {.....}`

and for its member like /DroneCollection/2
` fs:DroneCollection Drone2    {.....}`

Here we can store an object with a key, It is not the exact way of indexing it'll update below comm

[2018-06-26 16:36] sandeepsajan0 commented on #24
@Mec-iS  @xadahiya  As you suggest the things regarding the solution, I have read about it. But I can not understand how I can use these solutions to Redis graph.
Ex. of problem:
we add a node and commit it with redis_graph(connection).
` node1 = Node( "collection", endpoint, node_properties)`
`redis_graph.add_Node(node)`
`redis_graph.commit()`
then redis_graph have an node with label ="collection

[2018-06-30 10:10] Mec-iS commented on #27
Main themes to focus on:
* how to find out which properties to index (required?)?
* how to build composite indexes and with which properties?

[2018-07-01 07:14] sandeepsajan0 commented on #16
I think it can be closed.

[2018-07-01 07:14] #16 closed

[2018-07-01 07:17] sandeepsajan0 commented on #11
I think it can be closed because we have one more issue related to this #18 .

[2018-07-01 07:17] #11 closed

[2018-07-06 05:33] xadahiya commented on #8
Moved to #20

[2018-07-06 05:33] #8 closed

[2018-07-06 05:35] xadahiya commented on #9
Moved to #22, #24 and #27

[2018-07-06 05:35] #9 closed

[2018-07-06 05:36] #14 closed

[2018-07-06 05:36] xadahiya commented on #15
Don't think we need to do this anymore.

[2018-07-06 05:36] #15 closed

[2018-07-06 05:37] #18 closed

[2018-07-06 05:38] #21 closed

[2018-07-06 05:40] #22 closed

[2018-07-06 05:41] xadahiya commented on #20
Implemented in #23

[2018-07-06 05:41] #20 closed

[2018-07-06 05:45] xadahiya commented on #1
Not relevant to the agent.

[2018-07-06 05:45] #1 closed

[2018-07-07 05:52] xadahiya opened #28 "Update README.md for the new redis agent."
Fix #41  and then update the README. Couple of things you need to do -
- Remove the hydra-py section
- Update the python-hydra-agent ( try to explain how the agent can be used in a better way)
- Provide references to the agent design wiki

[2018-07-07 19:32] sandeepsajan0 opened #29 "setup.py file outdated"
On execution of setup.py, it gives an error:
![setup-py](https://user-images.githubusercontent.com/23638629/42414031-a0441da6-824a-11e8-97c6-27bd84c82d1a.png)

[2018-07-09 03:52] sandeepsajan0 opened #34 ""AND" and "OR" combine query is not working"
Now, queries can take only "and" or only "or" as operators but if a user tries to give both "and" and "or" operations in a query then the agent is not working.

Actually, we are using set operations `sinter` and `sunion` separately here. So, this issue raised.
Now we have to use them combined for complex queries.
And the Important thing here is to identify that where should be used `sinter` and `s

[2018-07-09 08:58] sandeepsajan0 commented on #29
It has done.

[2018-07-09 08:58] #29 closed

[2018-07-10 04:30] xadahiya opened #41 "Remove the hydra-py code"
The hydra-py.py code is not being used in `python-hydra-agent` anywhere. So we should remove it.

[2018-07-11 03:49] #41 closed

[2018-07-11 08:49] sandeepsajan0 commented on #28
It has fixed in #43

[2018-07-11 08:49] #28 closed

[2018-07-12 04:52] xadahiya commented on #34
I think, for now, you should implement something basic like this -
[code]
First, we should focus on getting the functionality right then later we can work on optimization and stuff.

Write an algorithm to parse the commands and build this kind of functionality depending on the command.

[2018-07-12 05:03] xadahiya commented on #34
You can also use `Redis MULTI` to achieve this. This might help https://robots.thoughtbot.com/redis-set-intersection-using-sets-to-filter-data

[2018-07-27 16:43] sandeepsajan0 commented on #34
fixed in #44

[2018-07-27 16:43] #34 closed

[2018-07-27 16:44] sandeepsajan0 commented on #24
fixed in #44

[2018-07-27 16:44] #24 closed

[2018-07-27 16:47] sandeepsajan0 commented on #27
@xadahiya  we need to do something in this or we can be closed it?

[2018-07-27 16:47] sandeepsajan0 commented on #12
fixed in #46  and #47

[2018-07-27 16:47] #12 closed

[2018-07-27 16:52] #27 closed

[2018-08-05 17:16] Mec-iS commented on #3
This is closed as not relevant. Nice discussion though.

[2018-08-07 03:44] xadahiya opened #52 "Update tests using unittest.mock"
As @Mec-iS  suggested
[code]

[2018-09-11 10:47] Mec-iS opened #54 "Agent has to be aligned with test cases in Draft"
The agent has to be fully compliant with the interface and usage patterns as described in the [Draft's test cases](https://github.com/HydraCG/Specifications/blob/master/drafts/use-cases).

Provide a list of agent's API calls that are aligned or misaligned wit the Draft.

[2018-09-11 10:53] Mec-iS opened #55 "Agent must use async-await interface"

[2018-09-14 13:43] Mec-iS opened #56 "More interoperability with pyRDFlib"
What we want is probably to use some parts from RDFlib with our Redis backend. Investigate.

[2018-12-05 11:05] Mec-iS opened #57 "Change main directory name to "hydra_agent""
the main directory name (`hydra_redis`) is wrong should be `hydra_agent`

[2018-12-05 11:08] Mec-iS opened #58 "Client configuration"
There should be a flawless way for configuring the client so the user, at deploy-time, can define:
* structure of the indexes
* ...

[2018-12-05 14:50] PrajwalM2212 opened #60 "Set up travis CI"
It would be helpful to have travis CI setup on this project.

[2018-12-06 11:14] PrajwalM2212 commented on #54
@Mec-iS @xadahiya  I have made a list at https://github.com/PrajwalM2212/W3C-Hydra-Research to help me research ideas and to keep track.
What should I do after this ?
Should I start researching about how to implement ?

[2018-12-06 15:03] Mec-iS opened #61 "Create a test battery to check use cases on arbitrary server"
Every [use case in Specs](https://github.com/HydraCG/Specifications/tree/master/drafts/use-cases) should be turned into one or more `TestCase` in a battery of tests to check full compliance of an arbitrary server with Hydra specs.

[2018-12-06 15:06] Mec-iS commented on #60
@xadahiya if this possible to do before next year GSOC would be great. Thanks

[2018-12-06 15:08] Mec-iS commented on #54
moved to #61 so to have a more practical objective

[2018-12-06 15:08] #54 closed

[2018-12-06 15:09] xadahiya commented on #60
Will do. Give me a couple of days, little busy right now 😅

[2018-12-06 15:35] Mec-iS commented on #60
Sure. I am on annual leave so I am taking all the time to set up everything for next year!

[2018-12-11 11:47] knakul853 commented on #58
@Mec-iS  can you  please elaborate the issue

[2018-12-11 14:47] Mec-iS commented on #58
the developer should be allowed to configure how the local graph is indexed and other optiond. So for every entrypoint he/she should be able to define a data structure in which the configuration is stored. Every time the client instance is created, the code should read the data structure and set up the client in the way defined by the user (rebuild the indexes, etc).

[2018-12-26 19:12] Mec-iS opened #65 "Discuss possible application of SCC for DAG"
This implementation algorithm could be interesting as Semantic graphs are oriented: https://vaibhavsagar.com/blog/2017/06/10/dag-toolkit/

[2019-01-01 12:29] xadahiya opened #66 "Tests are failing"
Tests are failing for python-hydra-agent. All tests should pass
@sandeepsajan0

[2019-01-01 12:32] xadahiya commented on #60
Done!

[2019-01-01 12:32] #60 closed

[2019-01-01 12:36] #57 closed

[2019-01-01 15:20] de-sh commented on #66
Which one is this about?

[2019-01-11 17:38] de-sh commented on #66
This is an issue with the absence of redis module.

[2019-01-13 05:20] sandeepsajan0 commented on #66
Sorry @xadahiya for the delay, I was not available due to some personal issues. But the main thing that we have already discussed, we don't have static live data. And for testing, we need some static live data. I can make all tests pass temporarily. But I think, now we should make these things permanent. So, tell me what should I do, make all test case pass temporarily or try to set up a live stat

[2019-01-13 13:32] Mec-iS commented on #66
If you refer to https://travis-ci.com/HTTP-APIs/python-hydra-agent
The tests are failing because the `redis` Python package is missing.

[2019-01-19 23:13] ShravanDoda opened #70 "Build fails"
hydra_graph.py has an error where it's returning a dictionary through redis_connection. Dictionaries are not supported and hence it should be changed to a string first.

[2019-01-22 15:55] invinciblycool commented on #66
Apparently travis never runs `pip install -r requirements.txt`

[2019-01-22 15:57] invinciblycool opened #71 "Add a CLI argument to view graph"
Currently to visualise the graph created in redisgraph, one is supposed to uncomment the code [here](https://github.com/HTTP-APIs/python-hydra-agent/blob/13c24e6e6b5ac68dc194d94daec9d130f382d73b/hydra_agent/hydra_graph.py#L75).
Instead maybe provide a command line argument to visualise the whole graph.

@Mec-iS @xadahiya Suggestions?

[2019-01-22 17:34] PrajwalM2212 opened #72 "Error when running python hydra agent"
<img width="1600" alt="screen shot 2019-01-22 at 10 50 18 pm" src="https://user-images.githubusercontent.com/30733262/51553838-e0b07100-1e99-11e9-87a7-7c9bcd4c197d.png">

Hydra connection expects a` string` as a value but a `dictionary` is passed instead.

[2019-01-22 17:43] PrajwalM2212 opened #74 "Error when correct url or query is entered"
<img width="1463" alt="screen shot 2019-01-22 at 10 51 02 pm" src="https://user-images.githubusercontent.com/30733262/51554423-494c1d80-1e9b-11e9-81a1-716c6c22ca85.png">

Even when correct url is entered python hydra agent gives an error.

[2019-01-22 17:53] PrajwalM2212 commented on #66
@invinciblycool  The requirements are installed by travis when it runs `pip install -e.`

[2019-01-22 17:56] invinciblycool commented on #66
AFAIK, the `-e` flag is used to build packages from source.

[2019-01-22 18:33] PrajwalM2212 commented on #66
@invinciblycool In `setup.py` you can see `install_requires = parse_requirements('requirements.txt', session=PipSession())` . When you run `pip install -e.` it will install everything present in `install_requires`. So `install_requires` as you see is nothing but `requirements.txt`.

The only change `-e ` gives you is that it will allow you edit your code and see changes in effect.

[2019-01-22 18:36] invinciblycool commented on #66
I missed the setup.py. Makes sense :+1:

[2019-01-22 18:39] PrajwalM2212 commented on #66
Based on my observation the tests are failing for
1. https://storage.googleapis.com/api4/api
2. https://github.com/HTTP-APIs/python-hydra-agent/pull/73

[2019-01-23 21:21] ShravanDoda commented on #72
This is what I was talking about @PrajwalM2212

[2019-01-26 15:36] Mec-iS commented on #72
@sandeepsajan0 please give advice

[2019-01-26 15:47] Mec-iS commented on #66
@sandeepsajan0 unit tests cannot depend from external services, tests shall use *patching* or *mocking* https://www.toptal.com/python/an-introduction-to-mocking-in-python

[2019-01-26 15:50] Mec-iS commented on #71
that would be nice but it would be computationally expensive as the graph could have eventually millions of nodes. maybe a command to print local areas, like all the neighbours of a node up to the second degree coukd work.

[2019-01-27 14:30] ShravanDoda opened #76 "Logger format is incorrect"
The logger function in `querying_mechanism.py` isn't implemented correctly.

[2019-02-04 23:15] ShravanDoda commented on #74
Error is also thrown when there's an extra '/' at the end of the URL because then it send a request to //vocab instead of /vocab. It'd be good if you could create a commit for checking the presence of '/' at the end of the URL. Moreover, return of `urlopen` hasn't been closed. It'd be good if you could add the `urlopen` function with context manager.

[2019-02-06 13:28] sandeepsajan0 commented on #72
I don't think, there is any that type of error. Anybody else is getting the same error?  @PrajwalM2212  Can you provide me a full log(include input url)? And make sure you haven't changed anything in your local.

[2019-02-07 01:36] ShravanDoda commented on #72
@sandeepsajan0 `redis_connection.set("EntryPoint", entrypoint_properties)` -- `entrypoint_properties` is a dictionary. Line-58, hydra_graph.py

[2019-02-07 07:03] ShravanDoda commented on #72
I don't see why are we setting `EntryPoint` as key separately when we have an entrypoint node in the redisgraph. It's not used anywhere in the code. Moreover, the user is not going to get the properties of entrypoint node from `redis-cli`. I think we should just remove this line of code. Maybe we should create another query which fetches the details about entrypoint node (something like `show entr

[2019-02-07 13:57] sandeepsajan0 commented on #72
Yes @ShravanDoda, I think it'll be a better way. If this line is making any error we can remove it by an additional query also. Because now I can't see any role of this key and I don't remember why we have put it there.

[2019-02-09 12:30] ShravanDoda commented on #56
RDFlib uses it's own implementation of graph and uses SPARQL for querying the graph. I don't know how would we integrate the two. Redisgraph is a general purpose graph database which uses open-cypher as the querying language. RDFlib has the advantage that it's designed to work with Linked-Data rather than being a general purpose graph database. But still the final decision will depend upon how the

[2019-02-10 07:57] krritik opened #80 "Error when running redis_setup.sh in command line"
when I run ./redis_setup.sh
it showed following error
"./redis_setup.sh: line 4: [: too many arguments
Docker is already installed"
even when docker is not installed
it is due to an error in argument of if-else in line 4

[2019-02-16 16:13] ShravanDoda opened #83 "Improve the algorithm used to connect endpoints"

[2019-02-16 20:50] Mec-iS commented on #83
we are working with the perspective of storing hundreds of millions of nodes, that is why we use Redis. Graph traversal has to be done using built-in Redis data structures and [redis-graph querying system](https://oss.redislabs.com/redisgraph/)

[2019-02-17 02:06] ShravanDoda commented on #83
@Mec-iS the issue is not with how edges are constructed between 2 nodes. It's with how the nodes to be connected are identified in the agent. Sorry for improper language.

[2019-02-17 05:32] Mec-iS commented on #83
in any case we cannot keep a dictionary in memory with nodes data. Redis is already an in-memory datastore, anything about the graph should be queried from the graph.

[2019-02-17 08:52] ShravanDoda commented on #83
The way program works right now is that it uses a function to create nodes and then connect them. How about we use a dictionary as a local variable in the function? Using 4 nested loops is going to be very inefficient especially as the number of nodes increase.

[2019-02-17 10:44] Mec-iS commented on #83
@sandeep1 ^

[2019-02-17 10:46] Mec-iS commented on #83
@sandeepsajan0 ^

[2019-02-23 12:02] Mec-iS commented on #52
moved to #66

[2019-02-23 12:02] #52 closed

[2019-02-23 12:03] Mec-iS commented on #74
`urllib` tools should be used to parse/unparse URLs

[2019-02-23 12:08] Mec-iS commented on #83
yeah this true. but any query or operation on the graph has to be done in Redis, we cannot allow to have the graph/nodes replicated by Python memory at any time. So I would try to refactor that code by leveraging [Redis commands](https://redis.io/commands). The first version of the agent will be strictly coupled to Redis, working on it requires an understanding about what the datastore can do.

[2019-02-23 12:12] Mec-iS commented on #80
@sandeepsajan0 installing Docker should not be done by this repo. A simple message "Docker is not installed" is enough. Plus, everything should be running using `docker-compose`, having `docker` and `docker-compose` installed is a pre-assumption and the repo should not take care of it.

[2019-02-23 12:15] Mec-iS commented on #80
the environment already runs with `docker-compose`. Unused scripts shall be removed and the README updated. the only way to run the repo shall be `docker-compose`.

[2019-02-23 12:18] Mec-iS commented on #66
615dbb2

[2019-02-23 12:18] #66 closed

[2019-02-24 17:53] xadahiya commented on #74
@ShravanDoda ^^

[2019-02-25 02:36] ShravanDoda opened #86 "Integrate python-hydra-agent and hydra-python-core"
`python-hydra-agent` has to be modified to support `hydra-python-core`. Travis CI build fails as well.

[2019-02-28 15:06] vddesai1871 opened #88 "Mocking is done improperly"
## Current Behaviour:
Mocking is being done improperly.
[code]
Correct me if I am missing something, but it seems like this test will always pass, same goes for all the tests. I can't understand why are we mocking Queries?
## Expected Behaviour:
As far as I know we are using moking so we can test the code without calling an actual (server) API, in that case I think we should only mock calls to the

[2019-03-03 05:54] vddesai1871 commented on #88
@sandeepsajan0 you should assign this issue to someone else as because of exams I won't be able to work on anything before 17th March. And I think this is an important issue and should be solved as early as possible. And I also think we should not merge anymore PRs until we have working tests in place.

[2019-03-03 14:19] ShravanDoda commented on #88
@sandeepsajan0 can I do it?

[2019-03-04 03:50] sandeepsajan0 commented on #88
@ShravanDoda Go for it.

[2019-03-04 11:35] #86 closed

[2019-03-04 11:35] #76 closed

[2019-03-06 20:36] ShravanDoda opened #92 "Improve printing format for python-hydra-agent"
The current printing format in client uses `show_data` method in `querying_mechanism` module. It prints the data fetched from redis in an inline manner. Instead of the current printing format we can use the inbuilt printing method in the `redis-py` module which prints the data in a tabular form.
<pre>
+-------------+----------+--------------+-----------+
|  b'p.name'  | b'p.age' | b'v.purpose' | b

[2019-03-07 12:05] #74 closed

[2019-03-07 12:07] #80 closed

[2019-03-09 05:12] #88 closed

[2019-03-13 04:54] sandeepsajan0 opened #95 "Update README.md"
We have to update README.md for renamed `python-hydra-agent`->`hydra-python-agent`.

[2019-03-13 05:04] sandeepsajan0 commented on #72
fixed in #94

[2019-03-13 05:04] #72 closed

[2019-03-13 17:19] #95 closed

[2019-03-13 17:22] ShravanDoda commented on #95
@Mec-iS kindly change the code in README. It hasn’t been changed from python-hydra-agent.

[2019-03-14 15:30] Mec-iS commented on #95
The README in `master` is correct. This issue is closed.

[2019-03-14 15:59] ShravanDoda commented on #95
The link provided in the demos haven't been changed. Kindly take a look.
Specifically  --
`git clone https://github.com/HTTP-APIs/python-hydra-agent.git` should be
`git clone https://github.com/HTTP-APIs/hydra-python-agent.git`

[2019-03-14 16:52] Mec-iS commented on #95
Fixed

[2019-03-18 17:31] ShravanDoda commented on #55
@Mec-iS please elaborate

[2019-03-18 17:46] Mec-iS commented on #55
Agent should implement wherever possible [Python generators and asynchronous co-routines](https://www.google.co.uk/search?q=python+async+await+pep&oq=python+async+await+pep&aqs=chrome..69i57.4220j0j7&sourceid=chrome&ie=UTF-8) both for calling the servers ([asyncio](asyncio is a library to write concurrent code using the async/await syntax.)) and updating the graph in Redis (possibility of using [S

[2019-03-21 09:59] Mec-iS opened #98 "Create a synchronisation mechanism for server-client udpates"
this couples with https://github.com/HTTP-APIs/hydrus/issues/300

Agent should be able to receive server-updates and update the graph.

[2019-03-22 11:32] ShravanDoda commented on #92
<pre>>>>show endpoints
classEndpoints + CollectionEndpoints
Class Endpoints
+-----------------+-------------+------------------------------+---------------------------+
| b'p.properties' |  b'p.type'  |           b'p.id'            |      b'p.operations'      |
+-----------------+-------------+------------------------------+---------------------------+
| b"['Location']" | b'Location' | b'vocab:Ent

[2019-03-22 11:36] Mec-iS commented on #92
looks fine.

I will open a issue about making the agent leveraging Redis all-over the codebase.

[2019-03-22 11:39] Mec-iS opened #99 "Port all operations to use Redis"
All operations on the graph shall be using Redis (so every operation on the graph shall issue one or more Redis command). The only data stored in memory should be the API endpoints graph for now (but possibly it will be in the datastore eventually as well).

Please take a look in depth to closed issues for reference:
* https://github.com/HTTP-APIs/hydra-python-agent/issues/11
* https://github.com/

[2019-03-22 11:42] Mec-iS commented on #92
https://github.com/HTTP-APIs/hydra-python-agent/issues/99

[2019-03-22 11:53] Mec-iS commented on #56
My first idea was to use RDFlib as intermediate representation for then storing the result into Redisgraph. We should first see if there are pros in doing something like that. As Hydra is a Linked Data technology, we probably want to make Redisgraph "a little less general" and more "specialized" in Linked Data by using some functionalities from RDFlib.
In general:
[code]
In this case the nodes/pro

[2019-03-23 16:37] ShravanDoda opened #100 "Add Authentication/Authorization mechanism"
Authorization/Authentication is an import feature for the client. It should be aligned to [Auth mechanism present in hydrus](https://www.hydraecosystem.org/Auth)

[2019-03-25 11:16] Mec-iS opened #101 "[PRE-ALPHA] Implement all HTTP method on all endpoints"
~Move on from the GET-only implementation of the PoC and implement a full client~

For more extensive explanation, go to: https://github.com/HTTP-APIs/hydra-python-agent/issues/101#issuecomment-497685202

[2019-03-25 15:28] shravandoda opened #102 "Automate the process of discovering the apiDocumentation"
At present, the agent has been hard coded to fetch the API Doc by appending `/vocab` to the URL provided. This not aligned with Hydra Spec. The agent should be able to extract the link to API documentation from the homepage of API publisher by looking for Link header in HTTP response with relationship type `http://www.w3.org/ns/hydra/core#apiDocumentation`

[2019-03-30 15:59] Guttz commented on #99
Could someone briefly cite what's yet to be ported to Redis? @Mec-iS @ShravanDoda @sandeepsajan0

Currently collection, Endpoints and members currently seem to be added to Redis, also queries are made with commands to Redis and the structure appear conformant with issues #11, #22 and #18.

[2019-03-30 17:32] ShravanDoda commented on #99
^^

[2019-03-30 19:10] Guttz commented on #99
Yeah, I get that all operations shall be using Redis, perhaps I didn't express myself well enough.

From checking the Agents code the operations already seem to be issuing Redis commands as the  "get_collection_properties" method at the image below.

![image](https://user-images.githubusercontent.com/11739405/55280526-f8d3bf00-5326-11e9-92d7-4e0d900fa3c3.png)

Can you mention which part of the arc

[2019-03-30 19:45] Mec-iS commented on #99
all the HTTP methods will perform some sort of operation on the graph. The graph is stored in Redisgraph and shall be using its datastructures and related operations.

[2019-03-30 20:08] ShravanDoda commented on #99
For example, connecting different nodes in the graph hasn't been ported out to `Redis` yet.

[2019-03-30 20:17] Guttz commented on #99
Oh, that makes sense. Thanks for the clarifications @Mec-iS @ShravanDoda

[2019-04-01 16:10] Mec-iS commented on #99
Please take a look to [this page](http://interactivepython.org/runestone/static/pythonds/Graphs/Implementation.html); it defines all the necessary operations though it stores them by allocating Python objects. We want those operations to be performed by Redis, so any of those methods implemented in the `Vertex` `Edge` and `Graph` classes should issue a Redisgraph command.

Remember that in RDF tri

[2019-04-01 17:05] invinciblycool commented on #101
Currently, the GET requests are made when using the `show` option in the agent. Do we want something similar? Probably implementing a `insert/delete/update` option in the agent.

[2019-04-01 17:07] Mec-iS commented on #101
@invinciblycool see #99

[2019-04-01 17:17] invinciblycool commented on #101
What I understand is, that the agent is currently capable of only fetching collections, classes or instances of the same. The proposed implementation should enable agent to also create,delete or update the graph according to the server changes via HTTP requests on endpoints. Did I miss anything?

[2019-04-02 15:40] Guttz commented on #101
The Hydra Spec  documents on its Endpoints which operations are available on them, for example, a /api/user endpoint may have the documentation for the POST operation and the GET operation. Right now, the client only is able to parse and execute the GET operations described on a hydrus server.

The goal is to make the client be able to support all Hydra Supported operations GET, POST, PUT, DELETE

[2019-04-02 16:21] Mec-iS commented on #101
Yes, this is what we meant when we talk about CRUD. Every CRUD operation is usually mapped to an HTTP method. In the case of hydrus we decided this mapping:
* READ = GET
* UPDATE = POST
* CREATE = PUT
* DELETE = DELETE

[2019-04-21 11:26] motormouthdoda opened #103 "Improve project layout"
Currently, the project is just a bunch of files in a folder. Before we start implementing new features and rewrite the agent's code, its imperative that we improve the project layout so that it's easier to organize and test the project. The layout should be extensible to the new functionalities that will be added.

[2019-04-21 11:27] ShravanDoda commented on #103
One of the ways could be to organize the code into 3 parts -> primary (sort of like the core), secondary (querying, fetching etc) and bookkeeping code (interface). The tests could be organized in the similar manner.

[2019-05-30 12:21] Guttz opened #104 "Connection refused on localhost - only with Docker"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

When trying to connect to a localhost hydrus server using docker, the agent returns Connection refused as the image:

![image](https://user-images.githubusercontent.com/11739405/58632167-25836300-82e5-11e9-9a88-85a2d90e7a3b.png)

However, it works for http://35.224.198.158:8080/api. At the same time, running pyt

[2019-05-30 12:22] Guttz commented on #104
The error message received seems to be somehow related to docker not being able to connect to Redis(but not sure)

[2019-05-30 12:23] xadahiya commented on #104
Which OS are you using?

[2019-05-30 12:33] Guttz commented on #104
I'm on ubuntu

[2019-05-30 13:55] motormouthdoda commented on #104
If that was the case, Docker wouldn't have connected to [http://35.224.198.158:8080/api](http://35.224.198.158:8080/api) as well. The problem seems to be of correct port mapping. Kindly take a look here [https://stackoverflow.com/questions/24319662/from-inside-of-a-docker-container-how-do-i-connect-to-the-localhost-of-the-mach](https://stackoverflow.com/questions/24319662/from-inside-of-a-docker-c

[2019-05-30 15:49] Guttz commented on #104
### Quick fix:

Linux:
Run sudo ip addr show docker0
Copy the default docker bridge that it creates, by default it's http://172.17.0.1
Windows/Mac:
use http://host.docker.internal instead of localhost

Seems like eventually using host.docker.internal should work in all OS, but not working yet. There are

[2019-05-30 15:56] Guttz commented on #104
### Quick fix:

**Linux:**
`sudo ip addr show docker0`

Copy the default docker bridge link that is created, by default it's http://172.17.0.1

**Windows/Mac:**
Use http://host.docker.internal instead of http://localhost

If you use Windows/Mac and can test this solution and give a thumbs up would be helpful so I can add in the docs. Also, seems like soon host.docker.internal should work in all OS

[2019-05-30 16:21] Mec-iS commented on #104
@Guttz can we put this configuration bit in docker-compose or in a bash script?

[2019-05-30 21:12] Guttz commented on #104
I tried it for a while but didn't find something for all OS. I will install a VM to test some other compatibility matters with the agent and then I come back here and take a look again into this.

[2019-05-31 12:06] Mec-iS commented on #101
@Guttz
We need a more structured approach. Probably starting from a design document would be better.
1. We need first a list of requirements, we should have something like that already somewhere. We should map this requirements to [Patterns](https://python-patterns.guide/)
2. We need the underlying implementation of methods to interact with the server, conventions are established in hydrus for nam

[2019-05-31 12:49] Guttz commented on #101
I totally agree with that. I'll think a bit more and by next week I should start a document where everyone can collaborate with suggestions.

Also, if you think of any other material or information that might be useful, update it here please.

[2019-06-03 08:24] Guttz opened #107 "Add readline support to cli"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Currently, you cannot use arrow keys and navigate the input with the CLI:
![image](https://user-images.githubusercontent.com/11739405/58707021-f4be2f00-83b3-11e9-9215-345ed3772a4c.png)

### Expected Behaviour:

Use it like any other CLI

This needs some cross-OS testing after importing readline because the depen

[2019-06-03 17:04] Mec-iS commented on #104
Linux:
sudo ip addr show docker0

Use http://host.docker.internal instead of http://localhost

I suppose we can just add this part to a "Troubleshooting" section in the README

[2019-06-03 17:06] Mec-iS commented on #100
The mentioned `hydrus` feature has been post-poned.

[2019-06-04 11:44] Guttz commented on #101
[UPDATE]

The Design Doc is under development and available at: https://docs.google.com/document/d/189TNgNHFG79U68fJtqz12lhACDvMqzYEUIShv9Bl2RI/edit?usp=sharing

We should have a discussion there regarding details in the following days, comments and additions are welcome.

[2019-06-04 11:59] Guttz commented on #104
Yes, at least for now, I'll add this there while we can come with a better solution.

There's a PR which would make http://host.docker.internal a universal solution but it doesn't seem like a priority right now: https://github.com/docker/libnetwork/pull/2348

[2019-06-07 12:51] Guttz commented on #103
The project design/layout is being discussed [in this doc](https://docs.google.com/document/d/189TNgNHFG79U68fJtqz12lhACDvMqzYEUIShv9Bl2RI/edit?usp=sharing). Please input your comments there.

[2019-06-07 12:51] #103 closed

[2019-06-14 09:12] Mec-iS commented on #101
#109

[2019-06-14 09:13] Mec-iS commented on #99
#109

[2019-06-19 10:52] Guttz opened #110 "[Discussion] Members properties storing"
Currently, the way properties are stored in a node that is a member of a collection is:

![image](https://user-images.githubusercontent.com/11739405/59758745-e6ff1980-928e-11e9-8f85-8dc87a1295d2.png)

![image](https://user-images.githubusercontent.com/11739405/59758354-077aa400-928e-11e9-8a8f-eae8a8634cc7.png)

Two things happens due to this:

- This stores in every node some a duplicate informati

[2019-06-19 17:10] Mec-iS commented on #110
Absolutely we don't want to store information twice. Nodes should store only store the properties enlisted in `5) p.properties` I suppose.

[2019-06-19 20:07] Guttz commented on #110
I agree with not storing this information. In my opinion, we should change this so the node should contain the same information that hydrus has for a resource, in the Drone example above:

![image](https://user-images.githubusercontent.com/11739405/59796587-26088b80-92de-11e9-90c9-9d904f68edf1.png)

Each of them as a property of the node so they can be queried properly.

[2019-06-20 07:42] Guttz commented on #110
@chrizandr @xadahiya @sandeepsajan0 Is there anything I'm missing for this implementation?

 Also about the faceted indexing, was the open cypher implementation not complete back then/something like this or is there another advantage I'm not aware of?

[2019-06-20 12:37] Mec-iS commented on #110
beside the functionalities provided by Redisgraph, we can also build faceted indexes on single properties. This is connected to agent's configuration, so in theory developers can set a flag in a configuration file to define indexes on particularly important properties.

[2019-06-21 15:59] Guttz commented on #110
As we agreed on the call I will make the architecture modification so we now use the proper structure as of hydrus, like the image above https://github.com/HTTP-APIs/hydra-python-agent/issues/110#issuecomment-503726997.

More than that, I'll check how's the current state of linking embedded URIs in the object, in the example above the DroneState, and might open an issue depending on the current im

[2019-06-28 13:55] Guttz opened #111 "hydrus/hydra-core status update"
As discussed in https://github.com/HTTP-APIs/hydra-python-core/issues/27, the agent is now compatible with the current hydrus on master, when the status update gets merged some small changes will have to be made here:

- Replacing the sample file as the one in https://github.com/HTTP-APIs/hydrus/blob/c0e501fea21c114fa8133d287fcbdda52edfefe6/hydrus/samples/hydra_doc_sample.py
- Updating the python_

[2019-06-28 15:35] Guttz opened #112 "Redis Graph py Result-set format update"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Our repo is currently using redisgraph-py:1.7 and there's a breaking change to 2.0 because they've changed the Result-set into a more easily processable output.. Which might be interesting.

### Mailing update and ref:
https://groups.google.com/forum/#!topic/redisgraph/UHC_f3a7Ldo
https://oss.redislabs.com/redis

[2019-06-28 17:52] Guttz opened #113 "Recursive node creation"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

As detailed in https://github.com/HTTP-APIs/hydra-python-agent/issues/110, currently the agent inserts nodes and create the edges for all resources fetched, but it doesn't recursively do the same for all the URIs that may be embedded in the resource's properties.

### Expected Behaviour:

The agent should create

[2019-06-28 17:52] Guttz commented on #110
With the new implementation, this architecture was implemented and properties can be directly queried in the graph.

For the recursive node linking I've created a new issue -> https://github.com/HTTP-APIs/hydra-python-agent/issues/113

[2019-06-28 17:52] #110 closed

[2019-06-29 11:25] xadahiya commented on #112
We should deal with this on a priority basis then.

[2019-06-30 10:31] Mec-iS commented on #112
yea we cannot get stuck to the old version at this point

[2019-07-02 01:56] Guttz commented on #112
Yup, I agree with that. Will try to make the upgrade for the repo.

[2019-07-02 02:51] Guttz opened #116 "Agent GET by class and properties"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Implementation:

The agent can only get resources by it's endpoint. I.e:
`agent.get("http://35.224.198.158:8080/api/DroneCollection/2`

### New implementation:

Agent will be able to query for resources based on their classes and properties. I.e: `agent.get(class="Drone", properties={"model":"smart model"}`

#### Important

[2019-07-02 17:47] Guttz commented on #112
Almost finished updating, the new response format is better and already does some code I had to program.

However, there are still some loose things, opened an issue over there -> https://github.com/RedisGraph/redisgraph-py/issues/42. Will clear some things out before moving on with this.

[2019-07-12 19:21] #116 closed

[2019-07-12 19:21] #113 closed

[2019-07-12 19:22] #112 closed

[2019-07-12 19:22] #111 closed

[2019-08-02 04:20] #101 closed

[2019-08-02 04:22] #99 closed

[2019-08-04 23:19] Guttz opened #124 "Hydra Agent GUI Console"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Description

The agent should have a GUI that enables the user to try and interact with a hydrus server through an interactive interface. Full demo reference mockup:

![Group h1](https://user-images.githubusercontent.com/11739405/61073311-88d7d900-a3eb-11e9-9607-b97a4b3c0a65.png)

For now, as suggested and settled by @chrizandr in

[2019-08-04 23:22] Guttz commented on #124
One observation @xadahiya asked me to mention was about the framework decision. I've considered mainly two things:

1. The left side of the demo which has the graph which needs a stable and complete library for it not be a problem in the future while generating the Dynamic Graphs. I've checked and tested the best libraries(d3, visjs, sigma.js) and had a much easier time trying to implement what I

[2019-08-05 02:12] #98 closed

[2019-08-05 02:44] xadahiya commented on #124
Sounds good 👍

[2019-08-11 07:43] Abhimanyu121 commented on #102
I am really new to hydra ecosystem but I would like to work on this, it might take me some time though (since I am new).

[2019-08-12 04:46] shravandoda commented on #102
I'd recommend you go through the core vocab and get acquainted with the issue. Here's the link -> https://www.hydra-cg.com/spec/latest/core/](Hydra Core Vocabulary)

[2019-08-12 17:47] Abhimanyu121 commented on #102
Thank you, I will

[2019-08-12 20:21] Guttz commented on #102
Welcome @Abhimanyu121, first take some time to get familiar with the concepts at http://www.hydraecosystem.org/ and other doubts you might have. [We are available at Gitter](https://gitter.im/HTTP-APIs/Lobby).

**When** you feel a bit more comfortable, I have a tip for the issue. Currently, the Agent simply uses vocab(line 29, graphutils_operations.py):

![image](https://user-images.githubusercont

[2019-08-13 08:03] Abhimanyu121 commented on #102
Thank you @Guttz , I will get familiar with all the concepts and make a pr soon :D

[2019-08-15 01:42] xadahiya commented on #124
Moved to https://github.com/HTTP-APIs/hydra-python-agent-gui

[2019-08-15 01:42] #124 closed

[2019-10-27 14:12] vcode11 commented on #102
Can I work on this?

[2019-10-27 14:52] xadahiya commented on #102
You don't need to ask for permission, feel free to work on anything you want.

[2019-10-28 11:39] vcode11 opened #130 "Outdated Chat Room link"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

The current link to chat in contributing.md refers to gitter but organization has moved to a slack channel.

### Expected Behaviour:

Link to the slack channel.

### Steps to reproduce:

Click on help in the chat in CONTRIBUTING.md

### Do you want to work on this issue?

Yes

[2019-10-28 11:44] vcode11 commented on #130
This is a common issue across all hydra repositories that have a CONTRIBUTING.md.

[2019-10-28 12:10] chrizandr commented on #130
We've made those changes in the SoD branch. There is also some UI revamp there. It will be published in master soon. Thanks :)

[2019-10-28 12:12] #130 closed

[2019-10-28 16:08] shravandoda commented on #102
@vcode11 kindly take a look at this. You'll find it helpful

[2020-01-25 12:27] hv7214 opened #132 "[BUG] Error on running app"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
Followed all steps given in README.md, and then ran `python app.py` resulted in error.

### Expected Behaviour:
App should be up on `localhost:3000`.

### Steps to reproduce:
Follow steps given in README.md

### Log
Traceback (most recent call last):
  File "/home/harshit/hydra-python-agent-gui/venv/lib/python3.6

[2020-01-25 12:40] xadahiya commented on #132
Do you have hydrus running?

[2020-01-25 18:08] hv7214 commented on #132
yeah somehow server got down. Now after turning it up i'm getting this error:
`loading... of graph
creating entrypoint node
split entrypoint into 2 types of endpoints collection and classes
classes endpoint or accessing classes
accessing every collection in entrypoint
commiting
Traceback (most recent call last):
  File "app.py", line 15, in <module>
    agent = Agent(url)
  File "/home/harshit/hyd

[2020-01-26 13:19] PrathamDogra opened #133 "[BUG]ModuleNotFoundError: No module named 'pip._internal.download'"
### I'm submitting a
- [x] bug report.
- [x] feature request.

### Current Behaviour:
I was trying to run the hydra-python-agent on my computer using Ubuntu terminal while running hydrus on another terminal. I have followed the steps mentioned in README.md. Everything worked fine(including the redis graph) but python3 setup.py install command is giving the following mentioned error.

### Expected

[2020-01-26 14:33] Mec-iS commented on #133
please provide Python and Pip versions

[2020-01-26 14:35] Mec-iS commented on #132
@Guttz please give a hint

[2020-01-26 14:59] PrathamDogra commented on #133
My pip version is 20.0.2 and Python version is 3.6.9
I tried to downgrade my pip to 9.0.1 in order to remove the error but the error still prevails.

[2020-01-27 10:59] xadahiya commented on #133
@PrathamDogra See this https://stackoverflow.com/questions/25192794/no-module-named-pip-req

This change happened quite recently, you can create a PR to fix this if you want.

[2020-01-27 16:15] PrathamDogra commented on #133
Sure @xadahiya  I will create the PR to fix this issue.

[2020-01-29 17:30] kss682 commented on #102
Can I work on this issue , I am new to hydra . I have set up the env and went through the docs.

[2020-02-02 14:36] Guttz commented on #132
For you to run the client you need:
1 - Running hydrus (the server)
2 - Running Redis Server(local client caching)
3 - Run the Client

Did you run the specified Redis version? `sudo docker run -p 6379:6379 -it --rm redislabs/redisgraph:2.0-edge`

[2020-02-02 14:38] Guttz commented on #132
**Other people have been having similar problems.** When you guys are able to solve these issues and manage to run everything, make sure to open a PR to update the readme if you feel you can make it better, please.

[2020-02-06 06:00] shravandoda commented on #102
No need to ask @kss682.

[2020-02-08 18:39] vedangj044 opened #135 "Error in show_data function"
### I'm submitting a
- [x] bug report.

### Steps to reproduce:
- Initialize server `hydrus server --no-auth`
- Initialize redis `redis-server --loadmodule ./src/redisgraph.so` or we can use docker too.
- `python3.7 hydra_agent/querying_mechanism.py`
- Enter URL: `http://localhost:8080/serverapi`

### Current Behaviour:
Following the above steps throws error
`AttributeError: 'str' object has no at

[2020-02-13 13:40] vedangj044 opened #139 "running query multiple times crashes the agent"
### I'm submitting a
- [X] bug report.

### Current Behaviour:

When run the query `show <collection_endpoints> members` more than once. It gives the following error.
`  File "/home/vedang/Downloads/learn5/hydra-python-agent/hydra_agent/redis_core/collections_endpoint.py", line 196, in load_fr
om_server
    endpoint_collection_node,
UnboundLocalError: local variable 'endpoint_collection_node' refe

[2020-02-25 16:48] thrishik7 commented on #107
I would love to work on this

[2020-02-27 17:10] Mikhaelle opened #140 "[BUG] ModuleNotFoundError: No module named 'pip._internal.download'"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
following the steps described to run the application in the Read-me after running python3 setup.py install I received an error.

Traceback (most recent call last):
File "setup.py", line 8, in <module>
from pip._internal.download import PipSession
ModuleNotFoundError: No module named 'pip._internal.download'
Durin

[2020-02-27 17:15] Mec-iS commented on #140
same as #133
see also #134

[2020-02-28 02:06] #140 closed

[2020-02-28 14:01] Guttz commented on #107
Please open a PR with your solution and metion this issue :)

[2020-03-06 11:51] sandeepsajan0 commented on #92
We have to use this data in demo/UI. This format may be difficult to handle it there.

[2020-03-08 04:38] chrizandr commented on #102
Is this issue resolved? @xadahiya @Guttz

[2020-03-08 04:54] chrizandr opened #141 "Generalise sync mechanism"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:
Right now the agent uses sockets to sync itself with a hydrus server.

### Expected Behaviour:
This will not work with a purely REST based Hydra server. We need to make the agent generic to work with non-hydrus based Hydra servers.

### Steps to reproduce:

### Do you want to work on this issue?

[2020-03-08 05:02] sudipt1999 commented on #141
@chrizandr sure I would love to work on it

[2020-03-08 10:45] thrishik7 commented on #141
@chrizandr I haven't completely understood what has to been done. Should it be refactored by REST over Sockets?

[2020-03-19 20:41] sudipt1999 commented on #141
@chrizandr  currently the hydrus uses a socket functionality as implemented by @Guttz  in his pull request https://github.com/HTTP-APIs/hydra-python-agent/pull/123, so I thing for making it generic we will require something like a generic Resource URIs so that we can communicate with them and maitain a table like structure to keep the records of sync updates.
Adding few Resource URI's like

1.  `a

[2020-03-21 20:29] sudipt1999 commented on #141
@xadahiya  @Guttz  @Mec-iS ! kindly rectify if I am wrong!

[2020-03-21 20:57] Mec-iS commented on #141
sockets are only used for the synchronisation mechanism. Standard REST uses HTTP requests.

As explained multiple times, there are two separate subsystems in place:
1. the REST server endpoints: these are Hydra-described endpoints
2. the sync mechanism: this is a hydrus/agent specific functionality (not in the standard), to allow hydrus to push updates to the agent so to save requests

we want to

[2020-03-21 21:11] sudipt1999 commented on #141
@Mec-iS so as given by @chrizandr
[code]
Doesn't the expected behaviour requires to remove sockets since they won;t work with REST based Hydra Server, so can we include some sort of caching to reduce the request!

[2020-03-21 21:13] Mec-iS commented on #141
No. it implies adding HTTP requests when the server is not hydrus. In the case the server is not hydrus (but any other standard implementation), every time some data is needed in the agent it should issue a request to the server.

[2020-03-21 21:16] sudipt1999 commented on #141
So, how do you propose to generalize the mechanism! @Mec-iS

[2020-03-21 21:22] Mec-iS commented on #141
the sync mechanism for a non-hydrus server is simply requesting data via an HTTP request everytime is needed. So we should have code in the agent that finds out if the server is hydrus and switch between two modes:
* if hydrus: use requests AND receive updates on sockets (already implemented)
* if not hydrus: use only requests (as any other REST client). In this case the agent won't use its local

[2020-03-21 21:27] sudipt1999 commented on #141
@Mec-iS Thanks a lot! I got it how will we generalize the mechanicms now!

[2020-05-14 10:46] priyanshunayan opened #143 "Build failing on newer version of pip"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

The travis build fails on newer version of python.
Here is the build log from my fork on the develop branch.
[Build](https://travis-ci.org/github/priyanshunayan/hydra-python-agent/builds/686950545)

### Expected Behaviour:

The build should be successful on all python branches.

### Steps to reproduce:

Trigger

[2020-05-14 18:34] #143 closed

[2020-05-14 18:34] #135 closed

[2020-06-29 08:12] priyanshunayan opened #148 "Agent returns only members of collection on GET request"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

If we make GET request to any Collection endpoint, it returns only the members of collection. Developers might need other information like total items or total pages to develop their application.
### Expected Behaviour:

It will return whole collection along with the information like totalItems, pages etc. It wo

[2020-07-13 16:06] priyanshunayan commented on #148
Fixed by #149

[2020-07-13 16:06] #148 closed

[2020-07-13 16:29] priyanshunayan opened #150 "[FEATURE] Expose convenient interfaces by agent"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Presently Agent provides only CRUD operations for developers to interact with the APIDOC. It would be helpful to expose different methods like getSupportedOperations or getMembers. These methods can allow developers to take actions programatically, instead of parsing the response themselves. It would be nice to

[2020-07-13 16:58] xadahiya commented on #150
Not a bad idea! @chrizandr what do you think?

[2020-07-15 12:34] chrizandr commented on #150
Yes this seems useful. Heracles already parses the response of the API, we should try something similar. I don't think getSupportedOperations would be a part of the response object, we already have supported operations in core library when the API Doc is parsed into the HydraDoc object.

It would be a good idea to consolidate how responses can be stored as python objects and how we parse the API r

[2020-07-20 13:07] priyanshunayan opened #151 "Searching for members of Collection"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

Currently there is no way to quickly filter the members of the collection.

### Expected Behaviour:

User should be able to search the collection to find the members he's interested in.
### Steps to reproduce:

### Do you want to work on this issue?

yes

[2020-07-31 12:37] sameshl opened #152 "Add support for new endpoints for collections in hydrus"
## I'm submitting a
- [ ] bug report.
- [x] feature request.

## Current Behaviour:

`hydrus` will support treating collections as a resource once PR https://github.com/HTTP-APIs/hydrus/pull/488/ gets merged.
This will bring in some changes to the endpoints at which `hydrus` is serving data.

Those changes need to be added to `agent` appropriately.

## Expected Behaviour:

### Brief description of

[2020-08-09 11:49] priyanshunayan commented on #152
Seems like we need to discuss the Redis layer again due to the latest changes. Earlier, collection members were fetched from the server everytime a request was made to the Collection endpoint and only class instances were stored. And now since a class can have members just like collections, so we need to decide whether to cache them or not.

[2020-08-31 04:55] #102 closed

[2020-11-29 09:31] iamakansha2003 commented on #151
DEAR READER,

I am interested in working on this issue,kindly assign me the task.

Thank you

[2020-11-29 09:31] iamakansha2003 commented on #151
DEAR READER,

I am interested in working on this issue,kindly assign me the task.

Thank you

[2020-12-01 14:00] vedangj044 commented on #107
This feature can be implemented by using [cmd library ](https://docs.python.org/3/library/cmd.html)
I tried it and it works well. here I have attached a  screenshot of the same.

It supports the arrow key gestures and I have used it on Linux and windows.

![vedang@vedang: ~_178](https://user-images.githubusercontent.com/43697446/100749722-0d752e00-340b-11eb-912f-cfbcf19f8d3c.png)

[2020-12-13 15:20] Purvanshsingh opened #156 "Updating ISSUE_TEMPLATE with Environment details (pip, python and Os )"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

We do not have details about the developer's environment to reproduce the errors.

### Expected Behaviour:

To mention the Environment details in ISSUE_TEMPLATE.

### Steps to reproduce:

### Do you want to work on this issue?

yes

[2021-01-10 14:10] Purvanshsingh commented on #156
resolved by #159

[2021-01-10 14:10] #156 closed, assigned to nobody

[2021-01-19 05:19] Purvanshsingh opened #160 "Error Using python-agent with docker"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

**TypeError: a bytes-like object is required, not 'str'** on running `sudo docker-compose run client`

### Expected Behaviour:

### Steps to reproduce:

`sudo docker-compose run client`

OS: Ubuntu 20.04
docker-compose version 1.25.0

### Do you want to work on this issue?

[2021-01-19 05:24] Purvanshsingh commented on #160
![Uploading Screenshot from 2021-01-19 10-53-04.png…]()

[2021-01-19 05:26] Purvanshsingh commented on #160
![Screenshot from 2021-01-19 10-53-04](https://user-images.githubusercontent.com/49719371/104991450-ce477e80-5a44-11eb-8bf6-c36a453251a6.png)

[2021-01-19 09:17] raoashish10 commented on #160
@Purvanshsingh I tried replicating the issue but I didn't encounter any such error. Have you made any changes to the code?

[2021-01-19 09:23] Purvanshsingh commented on #160
Nope, I didn't make any changes in the code.

[2021-01-19 09:27] raoashish10 commented on #160
I am running the command on a similar environment:
OS: Ubuntu 20.04
docker-compose: 1.25.5
Maybe someone else who can replicate the issue can try solving. Try updating the docker-compose version, might help?

[2021-01-19 11:22] Purvanshsingh commented on #160
Fixed docker-compose should be of the latest stable version.

[2021-01-19 11:22] #160 closed, assigned to nobody

[2021-01-27 14:16] Purvanshsingh opened #161 "Getting error while running python agent."
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

I am trying to create a complete demo of hydra using the MovieApi doc used in the new documentation (https://github.com/Purvanshsingh/hydra-MovieApi-demo).
While connecting python agent getting the following error:

redis.exceptions.ResponseError: errMsg: Invalid input '@': expected a property name, '}' or a par

[2021-01-28 05:19] Purvanshsingh opened #162 "wiki file link not working in readme"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

wiki file link under **Natural Language querying format** section not working.
https://github.com/HTTP-APIs/http-apis.github.io/blob/master/hydra-agent-redis-graph.md

### Expected Behaviour:

It should redirect to the wiki section.

### Steps to reproduce:

![Screenshot from 2021-01-28 10-43-23](https://user-im

[2021-02-13 13:12] #161 closed, assigned to nobody

[2021-03-10 09:21] eshantri commented on #162
Can I work on this issue?

[2021-03-11 18:14] Blakelist7 commented on #104
Hi, @Guttz I am new to the community, could you help me getting this issue resolved. Also new to open source :)

[2021-03-13 09:54] Megh05 commented on #162
@Purvanshsingh I want to work on this issue. Thank you!

[2021-03-13 20:13] Purvanshsingh opened #165 "Updating python index of hydra_python_core"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

currently we have `git+` for hydra_python_core in requirements.txt
### Expected Behaviour:

should have the updated global python index for hydra_python_core.

### Steps to reproduce:

### Environment:

* python version
* pip version
* OS details

### Do you want to work on this issue?

yes

[2021-03-15 11:51] #165 closed, assigned to nobody

[2021-04-22 14:29] Purvanshsingh opened #167 "Redis Error while querying hydra-python-agent"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

While querying with hydra-python-agent Redis exception occurring.

`redis.exceptions.ResponseError: errMsg: Invalid input '@': expected a property name, '}' or a parameter line: 1, column: 23, offset: 22 errCtx: CREATE (Entrypoint:id{@id:"vocab:Entrypoint",supportedOperation:"GET",url:"ht... errCtxOffset: 22`

!

[2021-04-30 13:20] Purvanshsingh commented on #167
Not sure why this exception was being raised, but setting up hydra-python-agent again in the local system fixed the issue.

[2021-04-30 13:20] #167 closed, assigned to nobody

[2021-05-03 14:29] Purvanshsingh opened #168 "[FUTURE DEVELOPMENT] NLP Based querying mechanism for hydra-python-agent"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

The hydra-python-agent currently uses the hardcoded method to query the Natural Language Queries, this feature is quite handy and useful. But we are not able to leverage the easiness of Natural Language as we are bonded with some fixed queries.

### Expected Behaviour:

To utilize its complete potential we can u

[2021-12-29 12:06] amalthundiyil opened #169 "Migrate test suite from unittest to pytest"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:
The test suite for `hydra-python-agent` is written using `unittest` library.

### Expected Behaviour:
I feel that using `pytest` would improve the readability of the test code with its features like fixtures, mocks, etc. As `hydra-python-agent` continues to grow and get refactored, this could be worth a considera

[2021-12-29 12:56] Mec-iS commented on #169
ok, please provide a PR and we will take time to review it

[2021-12-29 13:45] amalthundiyil opened #170 "GET and PUT requests not working on a resource"
### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:
`GET` request on path `/<resource>/<id>`, and `PUT` request on `/<resource>` results in this error:
[code]
### Expected Behaviour:
`GET` request on path `/<resource>/<id>`, and `PUT` request on `/<resource>` should result in the corresponding correct response.

### Steps to reproduce:
Make a `GET` or `PUT` reques

[2021-12-29 15:13] #170 closed, assigned to nobody

[2021-12-30 16:57] #169 closed, assigned to nobody

[2022-01-15 03:07] amalthundiyil commented on #141
Has this issue been resolved ?

[2022-02-11 06:13] amalthundiyil commented on #133
I think this issue should be closed since most of the solutions of resolving it as mentioned before involve upgrading or reinstalling pip. Moreover, I am not able to reproduce it locally on my system (Ubuntu 20.04, pip 22.0.3).

[2022-08-16 07:55] rghdrizzle commented on #162
hey is anyone working on this? im new to this community